body{
    display: flex;
    justify-content: center;
}

body>div {
    height: 900px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    min-height: 400px;
    min-width: 700px;
    border: solid;
    border-color: black;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Rockwell";
    font-size: 70px;
    text-align: center;
}

.result {
    font-size: 24px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.scores {
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
}

.scores>div{
    width: 130px;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    justify-self: end;
}

.rps {
    height: 90px;
    width: 200px;
    border-radius: 14px;
}